
<!-- <app-home></app-home>
<app-employee></app-employee> -->

<!-- <a routerLink="home">Home</a> &nbsp;
<a routerLink="employee">Employee</a> &nbsp;
<a routerLink="login">Login</a> -->
<!-- <app-home></app-home> -->


<!-- <nav class="navbar fixed-top navbar-expand-md navbar-light white double-nav scrolling-navbar">
    <div class="toolbar" role="banner">
     <div class="col-sm-6">
       <h4><i class='fas fa-home' ></i></h4>
     </div>
     <div class="col-sm-6">
       <span class="employee"><b><i class='fas fa-user'></i> Employee Management</b></span>
     </div>
   </div>
 </nav> -->

<nav class="navbar navbar-light" style="background-color: #77d6ce;">
    <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/Home">Home</a>
        </li>
        
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/Home">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li> -->
      </ul>

    <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
</nav>

 <router-outlet></router-outlet>

